<div class="rs-services rs-services-style1">
  <div class="container">
    <div class="row" style="flex-wrap: wrap;margin-right: -4px;margin-left: -2px;">
      <div class="col-lg-3 col-md-6 row-container-column">
        <div class="services-item blue-color rs-animation-hover hover-change-color">
          <div class="services-icon hover-change-color">
            <i class="fa fa-bookmark-o change-hover-color"></i>
          </div>
          <div class="services-desc" style="text-align: center; margin-top: 6px;">
            <h4 class="services-title row-container-header-text">Trending Courses</h4>
            <p class="row-container-paragraph-text">Lorem ipsum dolor sit amet Sed nec molestie justo</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 row-container-column">
        <div class="services-item blue-color rs-animation-hover hover-change-color">
          <div class="services-icon hover-change-color">
            <i class="fa fa-book change-hover-color"></i>
          </div>
          <div class="services-desc" style="text-align: center; margin-top: 6px;">
            <h4 class="services-title row-container-header-text">Books & Liberary</h4>
            <p class="row-container-paragraph-text">Lorem ipsum dolor sit amet Sed nec molestie justo</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 row-container-column">
        <div class="services-item blue-color rs-animation-hover hover-change-color">
          <div class="services-icon hover-change-color">
            <i class="fa fa-user change-hover-color"></i>
          </div>
          <div class="services-desc" style="text-align: center; margin-top: 6px;">
            <h4 class="services-title row-container-header-text">Certified Teachers</h4>
            <p class="row-container-paragraph-text">Lorem ipsum dolor sit amet Sed nec molestie justo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rs-courses sec-color sec-spacer" id="rs-courses">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-lg-4 col-md-12" style="flex: 0 0 33%;max-width: 33%;">
        <div class="sidebar-area">
          <div class="cate-box">
            <h2><span class="orange-color">Downloads</span></h2>
            <ul>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">OASIS Data</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Latest Evaluation scheme VI to VIII</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Tenders List</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">CBSE Results </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12" style="flex: 0 0 33%;max-width: 33%;">
        <div class="sidebar-area">
          <div class="cate-box">
            <h2><span class="orange-color">Latest </span> Announcements</h2>
            <marquee behavior="scroll" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
              <div>
                <p style="margin: 0 0 26px;">CBSE Latest Announcements </p>
                <p style="margin: 0 0 26px;">Regarding Celebration of World Environment Day</p>
                <p style="margin: 0 0 26px;">Mainstreaming Health and Physical Education in Schools</p>
              </div>
            </marquee>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12" style="flex: 0 0 33%;max-width: 33%;">
        <div class="sidebar-area">
          <div class="cate-box">
            <h2><span class="orange-color">School </span> Web Links</h2>
            <a class="primary-btn" href="#" style="text-decoration: none">Online Registration for Admission</a>
            <a class="primary-btn" href="#" style="text-decoration: none"> Principal's Message</a>
            <a class="primary-btn" href="#" style="text-decoration: none"> Board Results</a>
            <a class="primary-btn" href="#" style="text-decoration: none">Admission Process &amp; Prospectus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
